<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406021837694-s86r1b1lpsg2u0k128t4e11clefqtm95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406021837694-s86r1b1lpsg2u0k128t4e11clefqtm95</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406021837694-gg5ens44d179ltmtin19piv8fao1u8u9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3CwK-VGL8a05dP0MKMntR7PSATfkyTKw</string>
	<key>GCM_SENDER_ID</key>
	<string>406021837694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>untitled2</string>
	<key>PROJECT_ID</key>
	<string>cryptofeed-a032c</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptofeed-a032c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406021837694:ios:f2999d46a783fc7ae5192f</string>
</dict>
</plist>